.App {
    width: 100vw;
    height: 100vh;
    background-color: #0A0A0A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &>main {
        height: 100%;
        display: flex;
        flex-direction: row;

        &>section {
            width: 100%;
        }
    }
}