.MusicPlayer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 20px;

    & header {
        display: flex;
        gap: 14px;
        align-items: center;

        &>img {
            width: 40px;
            height: 40px;
            /* object-fit: cover; */
        }

        &>section {
            & h2 {
                font-size: 16px;
                color: white;
            }

            & h3 {
                color: #FFFFFF99;
                font-size: 14px;
            }
        }
    }

    & main {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 4px;

        & section {
            display: flex;
            gap: 12px;

            & img {
                width: 34px;
                cursor: pointer;
            }

            & img:first-child {
                rotate: 180deg;
            }

            & img:first-child,
            & img:last-child {
                width: 28px;
            }
        }

        & section:last-child {
            display: flex;
            align-items: center;
            color: white;
            font-size: 12px;

            & section:nth-child(2) {
                height: 2px;
                width: 350px;
                background-color: #FFFFFF99;
            }


        }
    }

    & footer {
        width: 150px;
    }


}